
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <img src="../../../assets/images/opalescence-mint-8-syringes-300x300.svg">
      <p>Opalescence Whitening Gel 16% CP 8 Syringes</p>
      <ion-button color="primary" (click)="OnBuyClick(1)">Buy Now</ion-button>
    </ion-col>
    <ion-col size="6">
      <img src="../../../assets/images/opalescence-mint-6-syringes-300x300.svg">
      <p>Opalescence Whitening Gel 16% CP 6 Syringes</p>
      <ion-button color="primary" (click)="OnBuyClick(2)">Buy Now</ion-button>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <img src="../../../assets/images/opalescence-mint-4-syringes-300x300.svg">
      <p>Opalescence Whitening Gel 16% CP 4 Syringes</p>
      <ion-button color="primary" (click)="OnBuyClick(3)">Buy Now</ion-button>
    </ion-col>
    <ion-col size="6">
      <img src="../../../assets/images/opalescence-mint-2-syringes-300x300.svg">
      <p>Opalescence Whitening Gel 16% CP 2 Syringes</p>
      <ion-button color="primary" (click)="OnBuyClick(4)">Buy Now</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <img src="../../../assets/images/ssdots_gel_mint_8_syringes-2-300x300.svg">
      <p>TeethShields (Digital Scan Visit required) + Opalescence 16% CP 8 Syringes</p>
      <ion-button color="primary" (click)="OnBuyClick(5)">Buy Now</ion-button>
    </ion-col>
    <ion-col size="6">
      <img src="../../../assets/images/ssdots_gel_mint_4_syringes-2-300x300.svg">
      <p>TeethShields (Digital Scan Visit required) + Opalescence 16% CP 4 Syringes</p>
      <ion-button color="primary" (click)="OnBuyClick(6)">Buy Now</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <img src="../../../assets/images/pressdots_teeth_shields-3-300x300.svg">
      <p>TeethShields (Digital Scan Visit required)</p>
      <ion-button color="primary" (click)="OnBuyClick(7)">Buy Now</ion-button>
    </ion-col>
    <ion-col size="6">
      
    </ion-col>
  </ion-row>
</ion-grid>